:root {
    --color-ligth-100: #DDDDDD;
    --color-ligth-200: #DDDDDD50;
    --color-dark-900: #181818;
    --color-blue-800: #202E55;
    --color-blue-900: #202E5510;
    --color-yellow-500: #fff000;

    --fonte-principal: 'Ubuntu', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    text-decoration: none;
}


body {
    color: var(--color-ligth-100);
    background-color: var(--color-dark-900);
}

.cabecalho {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#modo {
    position: absolute;
    top: 5%;
    right: 5%;
}

.box {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}


.box input {
    opacity: 0;
    width: 0;
    height: 0;
}

.box-btn {
    background-color: var(--color-ligth-200);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .5s;
    border-radius: 30px;
}

.box-btn:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px var(--color-ligth-100);
    background: transparent;
    transition: .5s;
}

input:checked+.box-btn {
    background-color: var(--color-ligth-200);
}

input:checked+.box-btn:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px var(--color-yellow-500);
}

img {
    height: 250px;
    border-radius: 50%;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.nome {
    font-size: 3.5rem;
}

.find {
    font-size: 1.25rem;
    font-weight: 300;
}

.find a {
    text-decoration: underline;
    color: var(--color-ligth-100);
}

.find a:visited {
    color: var(--color-ligth-100);
}

.conteudo {
    padding: 0 0 5% 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.btn {
    width: 50%;
    background-color: transparent;
    border: 1px solid var(--color-ligth-200);
    border-radius: 8px;
    cursor: pointer;
    padding: 2rem;
    text-align: left;
    color: var(--color-ligth-100);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main button:hover {
    transition: 0.2s;
    border-color: var(--color-blue-800);
    background-color: var(--color-blue-900);
}

.titulo {
    font-size: 1.8rem;
}

.desc {
    font-size: 1.25rem;
}

.rodape {
    padding: 24px;
    color: #202E55;
    text-align: center;
    font-size: 1rem;
}

@media (max-width: 600px) {

    .cabecalho {
        padding: 10% 0 10% 10%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 50px;
    }

    .cabecalho img {
        height: 200px;
        width: 200px;
    }

    .sobre {
        align-items: start;
    }

    .nome {
        font-size: 2.5rem;
    }

    .find {
        font-size: 1rem;
    }

    .btn {
        width: 80%;
    }

    .titulo {
        font-size: 1.5rem;
    }

    .desc {
        font-size: 1rem;
    }
}